.overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(255, 255, 255, 0.75);
}

.modal {
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    left: 50%;
    bottom: 40px;
    border: 1px solid rgb(204, 204, 204);
    background: rgb(255, 255, 255);
    overflow: auto;
    border-radius: 14px;
    outline: none;
    padding: 20px;
    box-shadow: 0 3px 8px 0 rgba(0,0,0,.24), 0 3px 12px 0 rgba(0,0,0,.12);
    width:75%;
    max-width: 600px;
}
.close-icon {
    position: absolute;
    right: 20px;
    top: 20px;
    opacity: 0.5;
    cursor: pointer;
}
.close-icon:hover {
    opacity: 1;
}