ul {
    list-style-type: none;
    padding: 0 0 10px 0;
}

li.nav-icon.active {
    background: none;
    margin: 0;
    cursor: pointer;
}
li.nav-icon.active.material-holder {
    padding: 0;
    position: absolute;
    margin-top: -10px;
}

li.nav-icon.active svg {
    color: #00bcd4;
}

.nav-icon svg.score {
    transform: rotate(180deg);
}

li.active {
    background: #00bcd4;
}

li {
    display: inline-block;
    margin: 0 5px 0 0;
    padding: 5px 13px;
    background: #2b2eff;
    border-radius: 40px;
    font-size: 15px;
    transition: background 0.2s ease-in-out;
}

.nav a {
    color: white;
    font-weight: 200;
    text-decoration: none;
}