body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, sans-serif;
    color: #333;
    font-size: 20px;
    line-height: 1.2;
}

.wrapper {
    padding: 10px 20px;
    min-width: 440px;
    max-width: 600px;
    min-height: 100vh;
    background: #607d8b0d;
    margin: auto;
}
.post {
    border-bottom: 1px dashed #ddd;
}
.post, .post-detail {
    margin: 0 0 10px 0;
    padding-bottom: 10px;
}
.post-info small {
    display: inline-block;
    margin: 0 5px 0 0;
    font-size:13px;
}
.post-link:hover p {
    text-decoration: underline;
}

.color--red {
    color: #ff4234;
}

.color--green {
    color: #00bcd4;
}

.color--blue {
    color: #2b2eff;
}

.color--silver {
    color: #9a9a9a;
}

.color--silver-light {
    color: #717171;
}

.margin--bottom {
    margin:0 0 20px 0;
}
.readable-input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    min-height: 30px;
    outline: none;
    font-size: 15px;
}
.readable-input::placeholder {
    color: #ccc;
}

.actionable {
    text-decoration: underline;
    cursor: pointer;
}

p {
    margin: 0;
    padding: 0 0 5px 0;
}

a {
    text-decoration: none;
    color: #333;
}
