body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, sans-serif;
    color: #333;
    font-size: 20px;
    line-height: 1.2;
}

.wrapper {
    padding: 0 20px;
}

.post {
    margin: 0 0 10px 0;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}
.post-info small {
    display: inline-block;
    margin: 0 5px 0 0;
    font-size:13px;
}

.color--red {
    color: #ff4234;
}

.color--green {
    color: #00bcd4;
}

.actionable {
    text-decoration: underline;
    cursor: pointer;
}

p {
    margin: 0;
}

small {
    color: #9a9a9a;
}

.margin--bottom {
    margin-bottom:20px;
}
a {
    text-decoration: none;
    color: #333;
}
